:root {
  --main-light-color: #ffffff;
  --secondory-light-color: #2e2f42;
  --third-light-color-cloud: #f4f4fd;
  --cornflower: #e7e9fc;
  --secondory-font-color-slate: #434455;
  --iris: #4d5ae5;
  --ocean-blue: #404bbf;
}

img {
  display: block;
}

/* Default class for div */
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

/* Body */
body {
  font-family: "Roboto", sans-serif;
  color: var(--secondory-font-color-slate);
  background-color: var(--main-light-color);
}

/* Logo */

.logo-header {
  margin-right: 76px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

.logo-studio {
  color: var(--secondory-light-color);
}

/* Header */

.container-header {
  display: flex;
}

.page-header {
  background-color: var(--main-light-color);
  border-bottom: 1px solid #e7e9fc;
}

.list-header-nav {
  display: flex;
  gap: 40px;
}

.list-header-adress {
  display: flex;
  gap: 40px;
}

.page-nav {
  display: flex;
  align-items: center;
}

.nav-list-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondory-light-color);
  padding: 24px 0;
}

.nav-list-link:hover {
  color: var(--ocean-blue);
}

.nav-list-link:focus {
  color: var(--ocean-blue);
}

.contacts {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--secondory-font-color-slate);
  letter-spacing: 0.02em;
}

.contacts:hover {
  color: var(--ocean-blue);
}
.contacts:focus {
  color: var(--ocean-blue);
}

/* Section one */

.section-one {
  background-color: var(--secondory-light-color);
  padding: 188px 0;
}

.section-one-title {
  max-width: 496px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-light-color);
}

.button-order {
  display: block;
  align-items: center;
  min-width: 169px;
  height: 56px;
  left: 636px;
  top: 428px;
  background: var(--iris);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--main-light-color);
  cursor: pointer;
}

.button-order:focus {
  background: var(--ocean-blue);
}

.button-order:hover {
  background: var(--ocean-blue);
}

/* Section two */
.section-two {
  padding: 120px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section-two-title {
  width: 264px;
  height: 72px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondory-light-color);
  margin-bottom: 8px;
}

.section-two-text {
  width: 264px;
  height: 72px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondory-font-color-slate);
}

.section-two-list {
  display: flex;
  gap: 24px;
}

.section-two-list-li {
  width: calc((100% - 72px) / 4);
}

/* Section three */

.section-three {
  padding-bottom: 120px;
}

.section-three-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: var(--secondory-light-color);
  margin-bottom: 72px;
}

.section-three-list {
  display: flex;
  gap: 24px;
}

.section-three-list-li {
  width: calc((100% - 48px) / 3);
}

/* Section four */

.section-four {
  background-color: var(--third-light-color-cloud);
  padding: 120px 0;
}

.section-four-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--secondory-light-color);
  margin-bottom: 72px;
}

.section-four-list {
  display: flex;
  gap: 24px;
}

.section-four-list-li {
  background-color: var(--main-light-color);
  width: 264px;
  height: 380px;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.section-four-container-for-stuff {
  padding: 32px 16px;
}

.section-four-stuff-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--secondory-light-color);
  margin-bottom: 8px;
}

.section-four-stuff-role {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--secondory-font-color-slate);
}

/* FOOTER */

.footer-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--third-light-color-cloud);
  max-width: 264px;
}

.footer {
  background-color: var(--secondory-light-color);
  padding: 100px 0;
}

/* FOOTER LOGO */
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  display: inline-block;
  margin-bottom: 16px;
}
.logo-footer-span {
  color: var(--third-light-color-cloud);
}

/* PORTFOLIO */

.button-portfolio {
  background: var(--third-light-color-cloud);
  border: 1px solid var(--cornflower);
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--iris);
  background-color: var(--third-light-color-cloud);
  cursor: pointer;
}

.list .button-portfolio:hover {
  color: var(--main-light-color);
  background-color: var(--ocean-blue);
}

.list .button-portfolio:focus {
  color: var(--main-light-color);
  background-color: var(--ocean-blue);
}

.portfolio-icon {
  width: 360px;
  height: 420px;
  background: var(--main-light-color);
  border: 1px solid var(--cornflower);
}

.portfolio-icon-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondory-light-color);
}

.portfolio-icon-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondory-font-color-slate);
}
